.multi-bg {
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(to right, rgb(60, 135, 200), rgba(255, 255, 255, 0));
    background-position: bottom right,
        left,
        right;
  }